@import "tailwindcss";

/*custom color themes of the website*/
@theme {
   --color-amber-50: #fbd387;
    --color-blue-50: #d8f9fb;
    --color-blue-100: #c2f6fb;
    --color-blue-200: #9df0f8;
    --color-blue-300: #6be3f1;
    --color-green-100: #d0ffba;
    --color-green-200: #9afd85;
    --color-yellow-200: #f8d44d;
 --color-dark-100: #1b1a1a;

}

@layer components {

/* Properties for the header*/
.header {
 @apply font-bold flex justify-center w-full bg-yellow-200 text-green-800 p-6;
  article {
    @apply flex flex-col justify-center text-2xl w-full;
 }
}
/* Properties for the home page section*/
.home {
  @apply flex flex-col gap-6 w-full pb-15 items-center;
 .container {
  @apply flex flex-col gap-6 mt-3;
 }
}
/* Properties for the rent component*/
.rent {
 @apply flex flex-col p-6 relative;
 img {
  @apply w-full h-[200px] object-cover;
 }
 article {
  @apply flex flex-col gap-3 mt-3;
  h2 {
   @apply text-xl font-bold text-gray-600;
  }
 }
}

/*Properties for the utilities*/
@layer utilities {
 .flex-center {
  @apply flex justify-center items-center;
 }
 .flex-between {
  @apply flex justify-between items-center;
 }
 .rent-card {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5;
 }
}

/*Properties for the html and body of the website*/
html,
body {
  font-family: sans-serif, Arial;
 scroll-behavior: smooth;
 background-color: var(--color-blue-50);
 }
}